<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:systemai="http://schemas.microsoft.com/appx/manifest/systemai/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap systemai">

  <Identity
    Name="41741e44-5b36-45b9-9803-cffb2b3be694"
    Publisher="CN=taira"
    Version="2.3.0.0" />

  <mp:PhoneIdentity PhoneProductId="41741e44-5b36-45b9-9803-cffb2b3be694" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Yamashina (Package)</DisplayName>
    <PublisherDisplayName>taira</PublisherDisplayName>
    <Logo>Assets\Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="ja-jp"/>
    <Resource Language="en-gb"/>
    <Resource Language="en-us"/>
    <Resource Language="en"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Yamashina (Package)"
        Description="Yamashina (Package)"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Images\Square150x150Logo.png"
        Square44x44Logo="Assets\Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Images\Wide310x150Logo.png"  Square71x71Logo="Assets\Images\SmallTile.png" Square310x310Logo="Assets\Images\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="Sembondori.Tasks.NotificationTask">
          <BackgroundTasks>
            <Task Type="general"/>
            <Task Type="systemEvent"/>
            <Task Type="deviceUse"/>
          </BackgroundTasks>
        </Extension>

        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="DC7E8016-E6DC-41AD-BF62-32170B67905D"/>
        </desktop:Extension>

        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="Yamashina\Yamashina.exe" DisplayName="Yamashina" Arguments="--AppNotificationActivated:">
              <com:Class Id="DC7E8016-E6DC-41AD-BF62-32170B67905D"/>
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <systemai:Capability Name="systemAIModels"/>
  </Capabilities>
</Package>
